.chat{
    min-height: 100vh;
    background: linear-gradient(#596AFF, #383699);
    display: grid;
    place-items: center;
}
.chat-container{
    width: 95%;
    height: 85vh;
    max-width: 1300px;
    background-color: aliceblue;
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: 1fr 3fr;
}